@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #d6af8b;
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #866e56;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #593E2E;
    text-align: center;
    text-shadow: 1px 1px 2px #3d2a1f93;
}
h2{
    color: #46492b;
}
p{
    text-align: justify;
}